/* ============================
   Compteur - Flammes bleues
   ============================ */

.flames-blue {
  position: relative;
  color: #0055A4; /* Bleu officiel du Québec */
  font-weight: bold;
  font-size: 60px; /* ajustable selon besoin */
  text-align: center;
  text-shadow: 
        0 0 5px #0055A4,
        0 0 10px #0055A4,
        0 0 15px #00aaff,
        0 0 20px #00aaff,
        0 0 30px #00ccff,
        0 0 40px #00ccff,
        0 0 55px #00ccff,
        0 0 75px #00ccff;
}

.flames-blue::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120%;
  height: 120%;
  transform: translate(-45%, -45%);
  background: url('../images/hellfire.gif') no-repeat center center;
  background-size: cover;
  z-index: -1;
}
