/* Effet FLAMMES BLEUES pour chiffres et texte */

.flames-blue {
    font-weight: bold;
    color: #4dcaff;
    text-shadow:
        0 0 10px #4dcaff,
        0 0 20px #4dcaff,
        0 0 30px #00aaff,
        0 0 40px #0088ff,
        0 0 70px #0055ff;
    animation: blueflame 2.5s infinite alternate ease-in-out;
}

@keyframes blueflame {
    0% {
        text-shadow:
            0 0 10px #66e0ff,
            0 0 20px #33ccff,
            0 0 30px #00aaff,
            0 0 50px #0088ff,
            0 0 80px #0055ff,
            0 0 120px #0044ff;
        transform: scale(1);
    }
    50% {
        text-shadow:
            0 0 15px #88f0ff,
            0 0 30px #55ddff,
            0 0 45px #22bbff,
            0 0 70px #0099ff,
            0 0 110px #0066ff,
            0 0 150px #0044ff;
        transform: scale(1.05);
    }
    100% {
        text-shadow:
            0 0 10px #55ddff,
            0 0 25px #33ccff,
            0 0 35px #0099ff,
            0 0 60px #0077ff,
            0 0 90px #0055ff,
            0 0 130px #0033ff;
        transform: scale(1);
    }
}

.flames-blue {
    display: inline-block;
}
