/* ============================
   Compteur - Flammes bleues
   ============================ */

.flames-blue {
  position: relative;
  color: white;
  font-weight: bold;
  font-size: 48px;
}

.flames-blue::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120%;
  height: 120%;
  transform: translate(-45%, -45%);
  background: url('../images/hellfire.gif') no-repeat center center;
  background-size: cover;
  z-index: -1;
}
