/* ============================
   Compteur - Flammes bleues agrandi
   ============================ */

.counter {
  text-align: center;         /* centre horizontalement */
  margin: 50px auto;          /* espace autour du compteur */
  display: flex;
  flex-direction: column;
  align-items: center;        /* centre verticalement */
} 

.flames {
  position: relative;
  color: white;       /* Chiffre en blanc */
  font-weight: bold;
  font-size: 120px;   /* 2x la taille précédente de 60px */
  text-align: center;
}

.flames::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 213%;        /* 2x la largeur précédente de 120% */
  height: 213%;       /* 2x la hauteur précédente de 120% */
  transform: translate(-50%, -50%);
  background: url('../images/hellfire.gif') no-repeat center center;
  background-size: cover;
  z-index: -1;
}
