/* ============================
   Compteur - Flammes bleues
   ============================ */

.counter {
  text-align: center;         /* centre horizontalement */
  margin: 50px auto;          /* espace autour du compteur */
  display: flex;
  flex-direction: column;
  align-items: center;        /* centre verticalement */
}

.flames {
  position: relative;
  color: #ffffff;             /* blanc */
  font-weight: bold;
  font-size: 60px;            /* taille plus visible */
  line-height: 1.2;
}

.flames::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150%;
  height: 150%;
  transform: translate(-45%, -45%);
  background: url('../images/hellfire.gif') no-repeat center center;
  background-size: cover;
  z-index: -1;
}
