/* ============================
   Membres - flammes agrandies
   ============================ */

.flames {
  position: relative;
  display: inline-block;
  color: white;
  font-weight: bold;
  font-size: 180px; /* chiffre 3x plus gros */
  text-align: center;
  margin: 0 auto;
  width: auto;
}

.flames::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300%;
  height: 300%;
  transform: translate(-50%, -50%);
  background: url('../images/hellfire.gif') no-repeat center center;
  background-size: cover;
  z-index: -1;
  pointer-events: none;
  opacity: 1;
}
